# navigation
alias ..='cd ..'
alias ..2='cd ../..'
alias ..3='cd ../../..'
alias ..4='cd ../../../..'
alias tree="find . -print | sed -e 's;[^/]*/;|____;g;s;____|; |;g'"

# process
alias tm='ps -ef | grep'

alias sourceme='source ~/.bash_profile'

# list directories
alias ls='ls -lah'
alias lf='ls -Gl | grep ^d' # only list directories
alias lsd='ls -Gal | grep ^d' # only list directories, including hidden ones

# folders
alias ds='du -ks *|sort -n' # find the biggest file or directory in the current directory.

# system
alias k9='kill -9'

# memory
alias wotgobblemem='ps -o time,ppid,pid,nice,pcpu,pmem,user,comm -A | sort -n -k 6 | tail -15'

# ip address
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en1"
alias ips="ifconfig -a | perl -nle'/(\d+\.\d+\.\d+\.\d+)/ && print $1'"

# git
alias gc='git clone'
alias gp='git pull'
alias gl='git log'
alias gs='git status'
alias gd='git diff'
alias gm='git commit -m'
alias gma='git commit -am'
alias gb='git branch'
alias gco='git checkout'
alias gra='git remote add'
alias grr='git remote rm'

# python
alias cat='pygmentize -O style=monokai -f console256 -g'

# tools
alias json="python -m json.tool"
